<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<h1>Create a New User Profile</h1>

<form method="post" action="/users">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="NewUser">
        <form method="post" action="/users/login/attempt">
            <h3>Sign Up Here</h3>

            <label for="FirstName" class="login-form-label">First Name: </label>
            <input type="text" placeholder="FirstName" id="FirstName" class="login-form-input" name="FirstName">

            <label for="LastName" class="login-form-label">Last Name: </label>
            <input type="text" placeholder="LastName" id="LastName" class="login-form-input" name="LastName">

            <label for="Email" class="login-form-label">Email: </label>
            <input type="email" placeholder="Email" id="Email" class="login-form-input" name="Email">

            <label for="GitHubUsername" class="login-form-label">GitHub Username: </label>
            <input type="text" placeholder="GitHubUsername" id="GitHubUsername" class="login-form-input" name="GitHubUsername">

            <label for="password" class="login-form-label">Password: </label>
            <input type="password" placeholder="Password" id="password" class="login-form-input" name="password">

            <br />
            <button type="submit" class="btn btn-primary login-social">Sign Up</button>
            </form>
        </div>
</form>