@model GitHubRepository

<h1>Add a Task</h1>

<form method="post" action="/repos/@Model.Id/tasks">
    <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" />
    </div>
    <br />
    <div class="form-group">
        <label for="description">Description: </label>
        <input type="text" id="description" name="description" />
    </div>
    <br />
    <button type="submit">Create Task</button>
</form>